<div class="container bg-light opacity-25">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="https://drive.google.com/file/d/16TeuCO5okzavcMZWuCmomBVv1a4ni70G/" target="_blank" class="link mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1 fw-bolder">OCH</a>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="link text-muted" href="mailto:czeizinghedi@gmail.com">
          <i class="bi bi-google"></i>
        </a>
      </li>
      <li class="ms-3">
        <a class="link text-muted" href="#" target="_blank">
          <i class="bi bi-linkedin"></i>
        </a>
      </li>
      <li class="ms-3">
        <a class="link text-muted" href="https://github.com/oczh" target="_blank">
          <i class="bi bi-github"></i>
        </a>
      </li>
    </ul>
  </footer>
</div>