<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/home">Weather forecast</a>
    <button 
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul ngbNav [activeId]="route.fragment | async" class="nav-tabs navbar-nav mr-auto">
            <li *ngFor="let link of links" [ngbNavItem]="link.fragment" class="nav-item">
                <a ngbNavLink [routerLink]="link.fragment" class="nav-link">{{ link.title }}</a>
            </li>
        </ul>
    </div>
</nav>
