<!-- 
<span>{{requestServise.currentWeather | json}}</span>
<span>{{requestServise.currentWeatherData | json}}</span>
-->
<table class="table table-bordered my-5">
  <thead>
    <tr>
      <th scope="col" class="align-top">Location</th>
      <th scope="col" class="align-top">Weather icon</th>
      <th scope="col" class="align-top">Weather</th>
      <th scope="col" class="align-top">Temperature [celsius]</th>
      <th scope="col" class="align-top">Wind speed [meter/sec]</th>
      <th scope="col" class="align-top">Cloudness [%]</th>
      <th scope="col" class="align-top">Pressure [hPa]</th>
      <th scope="col" class="align-top">Humidity [%]</th>
      <th scope="col" class="align-top">Sunrise [hh:mm]</th>
      <th scope="col" class="align-top">Sunset [hh:mm]</th>
      <th scope="col" class="align-top">Rain [mm/1h]</th>
      <th scope="col" class="align-top">Snow [mm/1h]</th>
      <th scope="col" class="align-top"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{requestServise.currentWeatherData.location}}</th>
      <td>
        <img style="width: 4rem;"  alt="Weather icon"
          src="http://openweathermap.org/img/w/{{requestServise.currentWeatherData.weather_icon}}.png">
      </td>
      <td>{{requestServise.currentWeatherData.weather}}</td>
      <td>{{requestServise.currentWeatherData.temperature}}</td>
      <td>{{requestServise.currentWeatherData.windSpeed}}</td>
      <td>{{requestServise.currentWeatherData.cloudness}}</td>
      <td>{{requestServise.currentWeatherData.pressure}}</td>
      <td>{{requestServise.currentWeatherData.humidity}}</td>
      <td>{{requestServise.currentWeatherData.sunrise}}</td>
      <td>{{requestServise.currentWeatherData.sunset}}</td>
      <td>{{requestServise.currentWeatherData.rain}}</td>
      <td>{{requestServise.currentWeatherData.snow}}</td>
      <td>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-primary">
            <i class="bi bi-heart"></i>
          </button>
          <button type="button" class="btn btn-danger">
            <i class="bi bi-trash"></i>
          </button>  
        </div>
      </td>
    </tr>
  </tbody>
</table>