.equal_col_width{
    table-layout: fixed;
}

.transparent{
    background-color: transparent;
    padding: 0.8em;
}

.box{
    border-radius: 1em;
    background-color: white;
    opacity: 50%;
    height: 4em;
    padding: 1em;
}