<!-- 
<span>{{requestServise.currentWeather | json}}</span>
<span>{{requestServise.currentWeatherData | json}}</span>
-->
<table class="table table-bordered my-5">
  <thead>
    <tr>
      <th scope="col">Location</th>
      <th scope="col">Weather icon</th>
      <th scope="col">Weather</th>
      <th scope="col">Temperature [celsius]</th>
      <th scope="col">Wind speed [meter/sec]</th>
      <th scope="col">Cloudness [%]</th>
      <th scope="col">Pressure [hPa]</th>
      <th scope="col">Humindy [%]</th>
      <th scope="col">Sunrise [hh:mm]</th>
      <th scope="col">Sunset [hh:mm]</th>
      <th scope="col">Rain [mm/1h]</th>
      <th scope="col">Snow [mm/1h]</th>
      <th scope="col">Favourite</th>
      <th scope="col">Cancel</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{requestServise.currentWeatherData.location}}</th>
      <td>
        <img style="width: 4rem;"  alt="Weather icon"
          src="http://openweathermap.org/img/w/{{requestServise.currentWeatherData.weather_icon}}.png">
      </td>
      <td>{{requestServise.currentWeatherData.weather}}</td>
      <td>{{requestServise.currentWeatherData.temperature}}</td>
      <td>{{requestServise.currentWeatherData.windSpeed}}</td>
      <td>{{requestServise.currentWeatherData.cloudness}}</td>
      <td>{{requestServise.currentWeatherData.pressure}}</td>
      <td>{{requestServise.currentWeatherData.humindy}}</td>
      <td>{{requestServise.currentWeatherData.sunrise}}</td>
      <td>{{requestServise.currentWeatherData.sunset}}</td>
      <td>{{requestServise.currentWeatherData.rain}}</td>
      <td>{{requestServise.currentWeatherData.snow}}</td>
      <td>
        <button type="button" class="btn btn-primary">
          <i class="bi bi-heart"></i>
        </button>
      </td>
      <td>
        <button type="button" class="btn btn-danger">
          <i class="bi bi-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>