<!--
<p>{{requestServise.forcastWearherData | json}}</p>
<p *ngFor="let data of requestServise.forcastWearherData.forecastArr">{{data.time}}</p>
-->
<div class="table-responsive">
    <table class="table table-sm overflow-scroll table-borderless caption-top">
        <caption>{{requestServise.forcastWearherData.location}}</caption>
        <thead>
            <tr>
                <th class="bg-transparent align-middle" scope="col">Time</th>
                <th class="bg-transparent align-top" scope="col" *ngFor="let data of requestServise.forcastWearherData.forecastArr">{{data.time}}</th>
            </tr>
            
        </thead>
        <tbody class="bg-transparent">
            <tr>
                <th class="bg-transparent align-middle" scope="row">Weather icon</th>
                <td class="bg-transparent" *ngFor="let data of requestServise.forcastWearherData.forecastArr">
                    <div class="box d-flex align-items-center justify-content-center">
                        <img style="width: 4rem;"  alt="Weather icon"
                        src="http://openweathermap.org/img/w/{{data.weather_icon}}.png">
                    </div>
                </td>
            </tr>
            <tr>
                <th class="bg-transparent align-middle" scope="row">Weather</th>
                <td class="bg-transparent" *ngFor="let data of requestServise.forcastWearherData.forecastArr">
                    <div class="l-boxes">{{data.weather}}</div>
                </td>
            </tr>
            <tr>
                <th class="bg-transparent align-middle" scope="row">Temperature [celsius]</th>
                <td class="bg-transparent" *ngFor="let data of requestServise.forcastWearherData.forecastArr">
                    <div class="d-boxes">{{data.temperature}}</div>
                </td>
            </tr>
            <tr>
                <th class="bg-transparent align-middle" scope="row">Wind speed [meter/sec]</th>
                <td class="bg-transparent" *ngFor="let data of requestServise.forcastWearherData.forecastArr">
                    <div class="l-boxes">{{data.windSpeed}}</div>
                </td>
            </tr>
            <tr>
                <th class="bg-transparent align-middle" scope="row">Cloudness [%]</th>
                <td class="bg-transparent" *ngFor="let data of requestServise.forcastWearherData.forecastArr">
                    <div class="d-boxes">{{data.cloudness}}</div>
                </td>
            </tr>
            <tr>
                <th class="bg-transparent align-middle" scope="row">Pressure [hPa]</th>
                <td class="bg-transparent" *ngFor="let data of requestServise.forcastWearherData.forecastArr">
                    <div class="l-boxes">{{data.pressure}}</div>
                </td>
            </tr>
            <tr>
                <th class="bg-transparent align-middle" scope="row">Humidity [%]</th>
                <td class="bg-transparent" *ngFor="let data of requestServise.forcastWearherData.forecastArr">
                    <div class="d-boxes">{{data.humidity}}</div>
                </td>
            </tr>
            <tr>
                <th class="bg-transparent align-middle" scope="row">Rain [mm/1h]</th>
                <td class="bg-transparent" *ngFor="let data of requestServise.forcastWearherData.forecastArr">{{data.rain}}</td>
            </tr>
            <tr>
                <th class="bg-transparent align-middle" scope="row">Snow [mm/1h]</th>
                <td class="bg-transparent" *ngFor="let data of requestServise.forcastWearherData.forecastArr">{{data.snow}}</td>
            </tr>
        </tbody>
    </table>
</div>