<div class="m-3">
    <p>This my first app with angular and git.</p>
    <p> If you would like to: </p>
        <ul>
            <li>check the current weather on the current location or other place, click the current weather! </li>
            <li>check the weather forecast for 5 days on the current location or other place, click the weather forecast!</li>
            <li> know more about me, check my resume or my other projects on 
                <a href="https://github.com/oczh" target=”_blank”>my github profil</a>
                 or conntact me at one of my contact details!
            </li>
        </ul>
</div>